<div class="card mb-3">
  <div class="card-body pb-0">
    <div class="d-flex align-items-center">
      <div>
        <% if question.user.image.attached? %>
          <%= image_tag question.user.image %>
        <% else %>
          <i class="bi bi-person-circle" style="font-size: 2rem; color: gray;"></i>
        <% end %>
      </div>
      <div class="ps-2">
        <%= link_to question.user.name, question.user, style: "color: black" %>
      </div>
    </div>
    <h5 class="card-title"><%= question.title %></h5>
    <p class="card-text"><%= simple_format(question.content) %></p>
    <% if current_user == question.user %>
      <%= link_to '質問を削除', question,
          data: { "turbo-method": :delete, turbo_confirm: '削除してもよろしいですか？' } %>
    <% end %>
    <%= link_to question.category.name, category_path(question.category), class: "badge bg-secondary" %>
    <%= link_to '詳細', question_path(question) %>
    <% if logged_in? %>
      <div id="interest_button">
        <% if question.interested_by(current_user).present? %>
          <%= link_to question_interest_path(question.id, question.interested_by(current_user)), data: { turbo_method: :delete } do %>
            <i class="bi bi-bookmark-plus-fill" style="font-size: 1.5rem; color: green;"></i>
          <% end %>
        <% else %>
          <%= link_to question_interests_path(question), data: { turbo_method: :post } do %>
            <i class="bi bi-bookmark-plus" style="font-size: 1.5rem; color: green;"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= time_ago_in_words(question.created_at).upcase + "前" %>
  </div>
</div>