<div class="row align-items-center justify-content-center">
  <div class="col-md-5">
    <h1>転職に関する質問</h1>
  </div>
  <div class="col-md-4">
    <%= search_form_for @search, class: "d-flex", url: search_questions_path do |f| %>
      <%= f.select :title_cont, ['転職を考えている', '転職活動中', '内定もらった'], { include_blank: '状況を選択' }, class: "form-select w-50" %>
      <%= f.submit "検索", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render @questions %>
    <%= paginate @questions %>
  </div>
</div>