<div class="row align-items-center justify-content-center">
  <div class="col-md-5">
    <h1>転職に関する質問</h1>
  </div>
  <div class="col-md-4">
    <%= search_form_for @search, class: "d-flex", url: search_questions_path do |f| %>
      <%= f.select :title_cont, ['転職を考えている', '転職活動中', '内定もらった'], { include_blank: '状況を選択' }, class: "form-select w-50" %>
      <%= f.submit "検索", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <% @questions.each do |question| %>
      <div class="card mb-3">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center mb-2">
            <div>
              <% if question.user.image.attached? %>
                <%= image_tag question.user.image %>
              <% else %>
                <i class="bi bi-person-circle" style="font-size: 2.2rem; color: gray;"></i>
              <% end %>
            </div>
            <div class="ps-2" style="font-size: 20px;">
              <%= link_to question.user.name, question.user, class: "text-reset" %>
            </div>
            <div class="ms-auto">
              <% if current_user == question.user %>
                <%= link_to '質問を削除', question, style: "color: gray",
                    data: { "turbo-method": :delete, turbo_confirm: '削除してもよろしいですか？' } %>
              <% end %>
            </div>
          </div>
          <div class="d-flex align-items-center ms-3">
            <div style="font-size: 1.4rem; color: green;">
              <%= question.title %>
            </div>
            <div class="ps-2">
              <%= link_to question.category.name, category_path(question.category), class: "badge bg-secondary" %>
            </div>
          </div>
          <div class="card-text ms-3">
            <%= link_to question_path(question), class: "text-reset" do %>
              <% simple_format(question.content) %>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-muted p-2 text-end">
          <%= time_ago_in_words(question.created_at).upcase + "前" %>
        </div>
      </div>
    <% end %>
    <%= paginate @questions %>
  </div>
</div>