<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>質問投稿</h1>
    <%= form_with(model: @question, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group mb-3">
        <%= f.label :title, '転職の状況', class: 'form-label' %>
        <%= f.select :title, ['転職を考えている', '転職活動中', '内定もらった'], { include_blank: '状況を選択' }, class: 'form-select' %>
      </div>
      <div class="form-group mb-3">
        <%= f.label :content, '内容', class: 'form-label' %>
        <%= f.text_area :content, class: 'form-control', required: true %>
      </div>
      <div class="form-group mb-3">
        <%= f.label :category_id, '業界', class: 'form-label' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: '業界選択', class: 'form-select' %>
      </div>
      <%= f.submit '投稿する', class: 'btn btn-success ms-5' %>
    <% end %>
  </div>
</div>