<h1>質問詳細</h1>
<%= link_to @question.user.name, user_path(@question.user) %>
<%= @question.content %>
<% if logged_in? %>
  <div id="interest_button">
    <% if @question.interested_by(current_user).present? %>
      <%= link_to question_interest_path(@question.id, @question.interested_by(current_user)), data: { turbo_method: :delete } do %>
        <i class="bi bi-bookmark-plus-fill" style="font-size: 1.5rem; color: limegreen;"></i>
      <% end %>
    <% else %>
      <%= render partial: "interests/interest" %>
    <% end %>
  </div>
  <h2>質問に回答する</h2>
  <%= render "answers/form" %>
<% end %>
<h2>回答一覧</h2>
<%= render @answers %>
