<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>ユーザー一覧</h1>
    <%= search_form_for @q, url: search_users_path, class: "input-group m-3" do |f| %>
      <span class="input-group-text">ユーザー名</span>
      <%= f.search_field :name_cont, class: "form-control" %>
      <%= f.submit '検索', class: "btn btn-outline-secondary" %>
    <% end %>
    <ul class="list-group list-group-flush mt-5">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>