<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>ユーザー詳細</h1>
    <% if @user.image? %>
      <%= image_tag @user.image.variant(resize:'200x200') %>
    <% end %>
    <%= @user.name %>
    <%= render 'follow_form' if logged_in? %>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <div class="list-group">
      <%= link_to '保存している質問', interest_user_path(@user), class: "list-group-item w-50" %>
      <%= link_to 'いいねしている回答', like_user_path(@user), class: "list-group-item w-50" %>
    </div>
  </div>
</div>