<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "質問一覧", questions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "業界一覧", categories_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "質問投稿", new_question_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            アカウント
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "マイページ", current_user, class: "dropdown-item" %></li>
            <li><%= link_to "アカウント編集", edit_user_path(current_user), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "dropdown-item" %></li>
          </ul>
        </li>
        <% else %>
          <%= link_to "新規登録", new_user_path, class: "nav-link" %>
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        <% end %>
      </ul>
      <%= search_form_for @search, url: search_questions_path, class: "d-flex" do |f| %>
        <%= f.text_field :content_cont, class: "form-control me-1", placeholder: '検索するテキストを入力...' %>
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>